<div class="container">
  <div class="row">
    <aside class="col navbar-aside">
      <%= render 'shared/navbar' %>
    </aside>
    <div class="col-7">
      <%= link_to root_path, class: 'text-black fs-4 text-decoration-none fw-semibold mb-4' do %>
        <div class="px-4 py-2 rounded-pill">
          <span class="me-4 position-relative" style="bottom: 3px">Home
        </div>
      <% end %>
     <%= render 'shared/tweet_form' %>
     <%= render Tweet.order(created_at: :desc) %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
